# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\.gilmarjunior\GitHub\cidades\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
